In [ ]:
def func(n):
    if n==1:
        return 1
    else:
        return n*func(n-1)
print(func(5))

120

In [ ]:
def func(n):
  a=1
  for i in range(n):
    a=a*(i+1)
  return a
func(5)

120

In [ ]:
def func(n):
  if n==1:
    return 1
  else:
    return n*func(n-1)
func(5)

120

In [ ]:
' lambda function'

c=lambda x,y:x-y
c(4,3)

1

In [ ]:
# string formating

c='hello'
print(f'{c} g')

hello g

In [ ]:
def func(**kwargs):
  for key,value in kwargs.items():
    print(key,value)
a={'hello':4,'g':5}
func(**a)

hello 4
g 5

In [ ]:
import time
ini=time.time()
for i in range(10):
  print('a')
print(time.time()-ini)

a
a
a
a
a
a
a
a
a
a
0.0006949901580810547

In [2]:
l=[3,2,4]
for item in enumerate(l):
  print(item)

(0, 3)
(1, 2)
(2, 4)

In [8]:
l=[1,2,3,4]
def func(x):
  return x**x
print(list([map(func,l)]))

[<map object at 0x7f0b3890dba0>]

In [30]:
# input=6,9
# output=9,6

a=int(input())
i=0
while (a>=7 and a<=9) and i<=0:
  print(6)
  i+=1
i=1
while a<=6 and i<=1:
  print(9)
  i+=1

6
9

In [23]:
a='hello '
b='hi'
print(a+b)

hello hi

In [28]:
my_string = "my name is hamza"

print(my_string.index('a'))

4

In [31]:
my_string = "Xn 2010, Xomeone paid 10k Bitcoin for two pizzas."

print(my_string.startswith('X'))

True

In [34]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print('&'.join(my_string))

I&n& &2&0&1&0&,& &s&o&m&e&o&n&e& &p&a&i&d& &1&0&k& &B&i&t&c&o&i&n& &f&o&r& &t&w&o& &p&i&z&z&a&s&.