In [ ]:
a=[2,3,4,5,6]
a.pop(4)
print(a)

[2, 3, 4, 5]

In [ ]:
num1 = 5
num2 = 2

num3 = int(num1 /num2)
num3

2

In [ ]:
num1 = -11

num2 = abs(num1)

print(num2 == 11) #should result in True

True

In [ ]:
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]

asc = sorted(my_list,reverse=True)

print(asc)

[30, 29.99, 25.6, 20, 19.25, 11.01, 10.5, 10]

In [ ]:
my_list = [10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99]

add = (my_list +[30.01, 30.02, 30.03]) *2

print(add)

[10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99, 30.01, 30.02, 30.03, 10, 10.5, 20, 30, 25.6, 19.25, 11.01, 29.99, 30.01, 30.02, 30.03]

In [ ]:
l1=[2,3]
l2=[4,5]
print(l1+l2)

[2, 3, 4, 5]

In [ ]:
a={3,2,4}
print(set(a))

{2, 3, 4}

In [ ]:
a=(2,3,4,5)
max(a)

5

In [ ]:
a=(2,3,4)
a=a[2]
print(a)

4

In [ ]:
a=[4,5,6]

In [ ]:
a={3:'ali',4:'hamza'}
a.popitem()

(4, 'hamza')

In [ ]:
x = "The days of Python 2 are almost over. Python 3 is the king now."
y=len(x)
y

63

In [ ]:
x = "The days of Python 2 are almost over. Python 3 is the king now."

In [ ]:
if type(x) and x.startswith('T'):
  print('True!')

True!

In [ ]:
x.index('P')

12

In [ ]:
x = {1: "Python", 2: "Java", 3: "Javascript", 4: "Ruby", 5: "Perl", 6: "C#", 7: "C++"}
x[1]

'Python'

In [ ]:
my_range=range(5,25,5)
second_to_last_element=my_range[1:]
for i in my_range:
  if i<=10 and i<=21:
    for j in second_to_last_element:
      print(i*j)
  else:
    print('Outside!')
print('The end!')

50
75
100
100
150
200
Outside!
Outside!
The end!

In [ ]:
def func(*args,**kwargs):
    print(args)
    for key,value in kwargs.items():
        print(key,value)
has=["saad","ali","hamza"]
sd={"saad":"ML engineer","ali":"employee","saim":"employee"}
func(*has,**sd)

('saad', 'ali', 'hamza')
saad ML engineer
ali employee
saim employee

In [ ]:
l=[2,3,4,5,6,7,8,9]
def func(n):
    return n>5
c=list(filter(func,l))
print(c)

[6, 7, 8, 9]

In [ ]:
import pandas as pd

# Sample DataFrame
data = {'index': ['A', 'A', 'B', 'B'],
        'columns': ['X', 'Y', 'X', 'Y'],
        'values': [1, 2, 3, 4]}

df = pd.DataFrame(data)

# Original DataFrame
print("Original DataFrame:")
print(df)

# Pivot the DataFrame
pivot_df = df.pivot(index='index', columns='columns', values='values')

# Resulting pivoted DataFrame
print("\nPivoted DataFrame:")
print(pivot_df)

Original DataFrame:
  index columns  values
0     A       X       1
1     A       Y       2
2     B       X       3
3     B       Y       4

Pivoted DataFrame:
columns  X  Y
index
A        1  2
B        3  4

In [ ]:
class bike():
    def __init__(self):
        self.name="honda"
    def specs(self):
        self.name="honda"
        self.cc="170"
        self.color="black"
        print(self.name,self.cc,self.color)
    def owndel(self):
        self.name="saad"
        self.age="22"
        self.work="ML engineer"
        print(self.name,self.age,self.work)
hi=bike()
print(hi.name)
hi.specs()
hi.owndel()

honda
honda 170 black
saad 22 ML engineer

In [ ]:
class var:
    def __init__(self):
        self.age="13"
        self.name="ali"
        self.__height=15
class var2(var):
    pass
obj=var2()
print(obj.name)

ali

In [ ]:
class var:
    x="hello"
    # def __init__(self):
    #     print("parent class constructor")
class var2(var):
    x="good"
    def __init__(self):
        print(super().x)
obj=var2()

hello

In [38]:
a='This is ball.'
b=a.strip('.')
b[-1]

'l'

In [39]:
def func():
    for i in range(1,5):
        yield i
z=func()

In [40]:
print(z.__next__())

for i in z:
    print(i)

1
2
3
4

In [2]:
for i in range(5):
    if i == 2:
        print("Skipping the loop at i =", i)
        break
    print(i)

0
1
Skipping the loop at i = 2