In [1]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[-23:-16])

Bitcoin

In [2]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[:12])

In 2010, som

In [3]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[-9:])

o pizzas.

In [6]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[::2])

I 00 oen ad1kBtonfrtopza.

In [8]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[::7])

I,n top

In [9]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[10:])

omeone paid 10k Bitcoin for two pizzas.

In [10]:
my_string = "In 2010, someone paid 10k Bitcoin for two pizzas."

print(my_string[:-4])

In 2010, someone paid 10k Bitcoin for two piz